[Unit]
Description=sample-nodeApp App
After=cloud-final.service

[Service]
WorkingDirectory=/home/ec2-user/sample-nodeApp
ExecStart=/usr/bin/node /home/ec2-user/sample-nodeApp/server.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sample-nodeApp
User=ec2-user

[Install]
WantedBy=multi-user.target
WantedBy=cloud-init.target